body{
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none; 
}
#klik{
    background-color: orangered;
    width: 200px;
    height: 200px;
}
#sotet{
    background-color: black;
    opacity: 0.5;
    position: fixed;
    width: 100%;
    height: 100%;
}
#tarolo{
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
#feheruziablak{
    background-color: white;
    width: 200px;
    height: 150px;
    position: fixed;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 4px 4px black;
    text-align: center;
}
#gomb{
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 40px;
    background-color: orange;
    border-radius: 10px;
    text-align: center;
    box-shadow: 3px 3px black;
    cursor: pointer;
}
#gomb:active{
    background-color: red;
}
#adat{
    display: none;
    padding: 20px;
}
#info:active{
    background-color: red;
}