#sotet{
    background-color: black;
    opacity: 0.5;
    position: fixed;
    width: 100%;
    height: 100%;
}
#soveg-tarolo{
    padding: 20px;
    background-color: white;
    position: fixed;
    box-shadow: 5px 5px black;
    width: 250px;
    height: 200px;
    text-align: center;
    user-select: none;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}
#gomb{
    background-color: orange;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 5px 5px gray;
}
#gomb:hover{
    background-color: #ff6600;
}
#tarolo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
}
.hiba{
    border-color: red;
}
#uzenet{
    color: red;
}