#sotetablak{
    background-color: black;
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 0.5;
}
#tarolo{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
}
#szovegablak{
    background-color: white;
    width: 250px;
    height: 180px;
    position: fixed;
    padding: 20px;
    text-align: center;
    box-shadow: 5px 5px black;
}
#gomb{
    background-color: orange;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px black;
    text-align: center;
    cursor: pointer;
}




#klik{
    background-color: orange;
    width: 200px;
    height: 200px;
    cursor: pointer;
}
#klik:active{
    background-color: red;
}
#klik:hover{
    background-color: #ffcc00;
}
#adat{
    display: none;
    padding: 20px;
    background-color: pink;
}
button:hover{
    background-color: yellow;
}
