#tarolo{
    background-color: orange;
    border-radius: 10px;
    box-shadow: 5px 5px black;
}
#reg{
    margin-left: 150px;
    padding: 20px;
}
body{
    background-color: #cccccc;
}
.hiba{
    border-color: red;
}
#uzenet{
    background-color: pink;
    color: red;
    margin-right: 1090px;
    text-align: center;
}
#figyelmeztet{
    color: red;
    background-color: pink;
    margin-right: 1090px;
    text-align: center;
}
.gomb{
    width: 70px;
    font-style: oblique;
    box-shadow: 3px 3px black;
    border-radius: 5px;
}
.keret{
    box-shadow: 3px 3px black;
}

