.hiba{
    border-color: red;
}
#uzenetszoveget{/*Hogy lehet kiküszöbölni a div láthatóságát?*/
    color: red;
    font-weight: bold;
    border: 1px solid red;
    /*padding: 5px;*/
    width: 300px;
    background: pink;
}
#letrehoz{
    background-color: gainsboro;
    padding: 1px;
    cursor: pointer;
}
#torol{
    cursor: pointer;
}
#sotet{
    background-color: black;
    opacity: 0.5;
    width: 1423px;
    height: 789px;
    position: fixed;
}
#uzenet{
    background-color: white;
    padding: 4px;
    position: fixed;
    left:501.5px;
    top: 334.5px;
    width: 400px;
    border-radius: 5px;
}
#gomb{
    margin: 10px auto 0 auto;
    background-color: orange;
    cursor: pointer;
    padding-top: 5px;
    font-weight: bold;  
    height: 25px;
    width: 50px;
    text-align: center;
    border-radius: 10px;
}
#gomb:hover{
    background-color: #ff6600;
}
#gomb:active{
    background-color: orange;
}