.hiba{
    border-color: red;
}
uzenet{/*Hogy lehet kiküszöbölni a div láthatóságát?*/
    color: red;
    font-weight: bold;
    border: 1px solid red;
    /*padding: 5px;*/
    width: 300px;
    background: pink;
}